{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["plugin:vue/essential"],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "indent": ["off", 2],
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", "only-multiline"],
    "spaced-comment": "off",
    "prefer-const": "off",
    "template-curly-spacing": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
