body {
  font: 18px/1.3 'Avenir', Helvetica, Arial, sans-serif;
}

mark,
.mark-red {
  background-color: rgba(250, 128, 114, 0.5); /*salmon */
}

.mark-green {
  background-color: rgba(154, 205, 50, 0.5); /*yellowgreen */
}

.mark-yellow {
  background-color: rgba(255, 215, 0, 0.5); /*gold */
}

.main {
  display: flex;
  min-height: 10vh;
  margin-bottom: 1em;
}

.main__wrapper {
  max-width: 1024px;
  margin: 2em auto;
  background-color: pink;
  /*min-height: 10vh;*/
}

.main__text {
  background-color: lightcyan;
  width: 70%;
  padding: 0.8em;
}

.main__text::selection {
  background-color: yellow;
}

.main__checkboxes {
  background-color: gold;
  width: 30%;
  margin-left: 2em;
  padding: 0.8em;
}

.result {
  background-color: lavender;
  min-height: 20vh;
  padding: 0.8em;
}

.btn {
  /*background-color: darkslateblue;*/
  padding: 0.5em 1em;
  border-radius: 5px;
  /*color: white;*/
  margin: 0 auto 1em;
  display: block;
  font-size: 1em;
}

.btn--inline {
  display: inline-block;
}

.checkboxes-list {
  list-style: none;
}

.checkboxes-list__item {
  visibility: visible;
}

.checkboxes-list__item:not(last-child) {
  margin-bottom: 0.5em;
}

.checkboxes-list__label {
  visibility: visible;
}
