.main {
  display: flex;
  min-height: 10vh;
  margin-bottom: 1em;
}

.main__wrapper {
  max-width: 1024px;
  margin: 2em auto;
  /*background-color: pink;*/
}

.btn {
  background-color: darkslateblue;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
  margin: 0 auto 1em;
}
