.main {
  display: flex;
  min-height: 10vh;
  margin-bottom: 2em;
}

.main__wrapper {
  max-width: 900px;
  margin: 5em auto;
  background-color: pink;
  /*min-height: 10vh;*/
}

.main__text {
  background-color: gold;
  width: 60%;
}

.main__checkboxes {
  background-color: lightcyan;
  width: 40%;
  margin-left: 2em;
}

.result {
  background-color: lavender;
  min-height: 10vh;
}
