.main__tags {
  /*background-color: gold;*/
  width: 30%;
  margin-left: 2em;
  padding: 0.8em;
  position: relative;
}

.tags-list {
  list-style: none;
  position: fixed;
}

.tags-list__item:not(last-child) {
  margin-bottom: 0.5em;
}

.tags-list__btn {
  border: 2px solid grey;
  padding: 0.5em 1em;
  border-radius: 5px;
}
