@import "~normalize.css/normalize.css";
@import "reset.css";

body {
  font: 18px/1.3 'Avenir', Helvetica, Arial, sans-serif;
}

mark,
.mark-red {
  background-color: rgba(250, 128, 114, 0.5); /*salmon */
}

.mark-green {
  background-color: rgba(154, 205, 50, 0.5); /*yellowgreen */
}

.mark-yellow {
  background-color: rgba(255, 215, 0, 0.5); /*gold */
}

.main {
  display: flex;
  min-height: 10vh;
  margin-bottom: 1em;
}

.main__wrapper {
  max-width: 1024px;
  margin: 2em auto;
  background-color: pink;
  /*min-height: 10vh;*/
}
