@import "~normalize.css/normalize.css";
@import "reset.css";

body {
  font: 18px/1.7 'Avenir', Helvetica, Arial, sans-serif;
}

mark {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  opacity: .5;
}

/*TODO цвета генерировать рандомно, потому что неизвестно сколько будет тегов*/
.mark-red {
  background-color: rgba(250, 128, 114, 0.5); /*salmon */
}

.mark-red-border {
  border-color: salmon;
}

.mark-green {
  background-color: rgba(154, 205, 50, 0.5); /*yellowgreen */
}

.mark-green-border {
  border-color: yellowgreen;
}

.mark-yellow {
  background-color: rgba(255, 215, 0, 0.5); /*gold */
}

.mark-yellow-border {
  border-color: gold;
}




