@import "~normalize.css/normalize.css";
@import "reset.css";

body {
  font: 18px/1.7 'Avenir', Helvetica, Arial, sans-serif;
}

mark {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  color: gray;
}

h3 {
  font-weight: bold;
}
